<% include partials/header %>

<h1>This is all courses page!</h1>

<% courses.forEach(function(course){ %>
<div>
  <h4><%= courses.name %></h4>
  <img src="<%= course.image %>" alt="Photo of <%= course.name %>">
  <a href="<%= course.url %>"><%= course.name %> Website</a>
</div>
<% }); %>

<a href="/">Home</a>

<% include partials/footer %>
